<style type="text/css" media="screen"></style>
<div>
    <mat-tab-group id="tabs" backgroundColor="primary" color="warn">
        <mat-tab >
          <h1 style="text-align: center;" id="content"> <i>Student Enrollment System</i></h1>
         </mat-tab> 
    </mat-tab-group>
</div>
<form>
    <div class="container">
  
    <button class="box" class="btn btn-info" (click)="staff()" ><i>HOD</i></button>
    <button class="box" class="btn btn-info" (click)="staff()"><i>Staff</i></button>
     <!-- <div class="box"><i>Staff</i><button class="btn btn-info" (click)="staff()"></button></div>  -->
    <button class="box" class="btn btn-info" (click)="staff()"><i>Student</i></button>
     <!-- <div class="box"><i>Student</i></div>  -->
    
    </div>
    </form>

