 <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div style="max-width:500px" class="mx-auto mt-5">
          <h3 class="text-center"><b><i>Login Form</i></b></h3>
         
          <form [formGroup]="ResetFormData" (ngSubmit)="reset(ResetFormData.value)">
  
            <table>
              <tr>
                <td><label for="LoginId">Login Id</label></td>
                <td><input type="text"  name="LoginId" id="LoginId" value= {{LoginId}} required="required"></td>
              </tr>
              <tr>
              <td><label for="Current Password">Current Password</label></td>
              <td><input type="text" formControlName="currentPassword" name="currentPassword" id="currentPassword" class="form-control" required="required"></td>
            </tr>
           <tr>
              <td><label for="New Password">New Password</label></td>
              <td><input type="password" formControlName="newPassword" name="newPassword" id="newPassword" class="form-control"></td>
            </tr>
            <tr>
                <tr>
                    <td><label for="Confirm Password">Confirm Password</label></td>
                    <td><input type="password" formControlName="confirmPassword" name="confirmPassword" id="confirmPassword" class="form-control"></td>
                  </tr>
                  <tr>
             
             <td><input type="submit"  value="Update" class="btn btn-success mt-3 mb-3"></td>
            
            
          </tr>
             
           
          </table>
          </form>
        </div>
      </div>
    </div>
  </div> 
